.map-poster {
    background-color: white !important;
    border-style: solid;
    border-color: white;
    border-width: 10px;

}


.posterBorder{
    box-shadow: 4px 5px 16px 1px rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
    margin-left: auto;
    margin-right: auto;
}