.particle-container {
    width: 1000px;
    height: 120px;
    background-color: #f7f4f4;
    position: relative;
}

.beat {
    position: absolute;
    top: 40px;
    left: 87px;
}

.playLine {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 100px;
    background-color: #bb29e2;
    width: 2px;
}

.particle {
    position: absolute;
    top: 20px;
    bottom: 20px;
    width: 20px;
    list-style-type: none;
}

.dot {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}